.box.info-box {
    $info-box-colors: (
        "primary": var(--bulma-primary),
        "link": var(--bulma-link),
        "info": var(--bulma-info),
        "success": var(--bulma-success),
        "warning": var(--bulma-warning),
        "danger": var(--bulma-danger),
    );

    border-top: 2px solid var(--bulma-border);
    transition: border-color .75s ease, box-shadow 0.3s ease-in-out;
    position: relative;

    .box-header {
        border-radius: inherit;
    }

    @each $name, $color in $info-box-colors {
        &.is-#{$name} {
            border-color: $color;
        }
    }
}
