.v-popper--theme-dropdown, .v-popper--theme-tooltip {
  .v-popper__wrapper {
    .v-popper__inner {
      box-shadow: 0 3px 10px rgba($tooltip-text, .1);
      background: $tooltip-background;
      color: $tooltip-text;
      border-radius: 5px;
      padding: 5px 10px 4px;
    }

    .v-popper__arrow-container {
      .v-popper__arrow {
        border-color: $tooltip-background;
        box-shadow: 0 3px 10px rgba($tooltip-text, .1);
      }
    }
  }

  &.popover {
    $color: $tooltip-background;

    .popover-inner {
      background: $color;
      color: $tooltip-text;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba($tooltip-text, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
