.v-popper--theme-dropdown, .v-popper--theme-tooltip {
  .v-popper__wrapper {
    .v-popper__inner {
      box-shadow: none;
      background: $tooltip-background;
      color: $tooltip-text;
      border-radius: $radius;
      padding: 5px 10px 4px;
    }
  }

  &.popover {
    $color: $tooltip-background;

    .popover-inner {
      background: $color;
      color: $tooltip-text;
      border-radius: $radius;
      box-shadow: none;
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
