.vue-filter .tabs-wrapper .tabs {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar { 
        display: none;
    }
    
    li {
        a:hover {
            border-color: $warning;
        }

        &.is-active a {
            background-color: $warning;
            border-color: $warning;
        }
    }
}