@import 'v-tooltip/dist/v-tooltip';

[v-cloak] {
    display: none;
}

*:focus {
    outline:0;
}

@media screen and (max-width: 769px) {
    .columns.is-reverse-mobile {
        flex-direction: column-reverse;
        display: flex;
    }
}

.mx-a {
    margin-left: auto;
    margin-right: auto;
}

.is-bold {
    font-weight: bold;
}

.is-clickable {
    cursor: pointer;
}

.has-text-muted {
    opacity: 0.7;
}

.is-naked {
    opacity: 0.7;
    transition: opacity ease 0.3s;
    &:hover {
        opacity: 1;
    }
}

a.is-naked {
    color: inherit;
}

.button.is-naked {
    background: 0;
    border: none;
    &:focus {
        box-shadow: unset;
    }
}

.is-raised {
    -webkit-box-shadow: 0 0.25em 0.3em 0.15em rgba(42,51,83,.35);
    box-shadow: 0 0.25em 0.3em 0.15em rgba(42,51,83,.35);
}

.raises-on-hover {
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0 0.1em 0.3em 0.2em rgba(42,51,83,.35);
        box-shadow: 0 0.1em 0.3em 0.2em rgba(42,51,83,.35);
    }
}

.no-scrollbars {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar { 
        display: none;
    }
}

.is-hoverable-item:hover {
    background-color: $light;
}

.form-box {
    position: relative;
    z-index: 2;
    overflow: visible;
}

.image.is-30x30 {
    height: 30px;
    width: 30px;
}