$right: left;
$left: right;

@import './light/variables';

@import "~bulma-rtl/bulma-rtl";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "~flatpickr/dist/themes/light";

@import "./extensions";

@import "./components";

@import "./light/enso";

@import './helpers';